<h2>All Users</h2>

<div>
  <% for( let i = 0; i < allUsers.length; i++ ) { %>

  <li>
    <p>userName:<%= allUsers[i].username %></p>
    <p>isAdmin:<%= allUsers[i].isAdmin %></p>
    <p>followers:<%= allUsers[i].followers %></p>
    <p>followings:<%= allUsers[i].followings %></p>
    <!--user details button -->
    <button id="<%= allUsers[i]._id %>">Details</button>
  </li>
  <% } %>
</div>
