<%- include('partials/header') %>

<!--  -->

<div class="row justify-content-center">
  <div class="col-lg-4 width:100%">
    <h2 class="text-center">User You may know</h2>
    <!--  -->
    <% if (allUsers.length>0) { %>
    <!--  -->
    <% for( let i = 0; i < allUsers.length; i++ ) { %>
    <!----------user  box starts-->
    <div class="bg-white shadow rounded mt-3 pb-3">
      <li style="list-style-type: none" id="<%= allUsers[i]._id %>">
        <!--  -->
        <% if (allUsers[i].photoPath) { %>
        <div class="d-flex">
          <img
            src="<%= allUsers[i].photoPath %>"
            alt="image"
            class="img-fluid"
          />
        </div>
        <% } %>
        <!--  -->
        <div class="d-flex flex-wrap">
          <div class="flex-fill">
            <span class="m-2 fw-bold" style="font-size: 25px"><%= allUsers[i].username %></span>
          </div>
          <div class="flex-fill">
            <p class="pt-2"><strong>followers:</strong> <%= allUsers[i].followers.length %></p>
          </div>
          <div class="flex-fill">
            <p class="pt-2"><strong>followings:</strong> <%= allUsers[i].followings.length %></p>
          </div>
        </div>
        <!--user details button -->
        <button
          class="btn btn-primary"
          onclick="getUser('<%= allUsers[i]._id %>')"
        >
          Details
        </button>
        <!-- follow button -->
        <button
          class="btn btn-success"
          onclick="followUser('<%= allUsers[i]._id %>')"
        >
          Follow
        </button>
        <!--  -->
        <button
          class="btn btn-danger"
          onclick="unFollowUser('<%= allUsers[i]._id %>')"
        >
          unFollow
        </button>
      </li>
    </div>
      <% } %>
  
      <!--  -->
      <% } else{%>
      <p>No user found</p>
      <%}%>
    </div>
  </div>

  <script>
    //
    let message = document.getElementById("message");
    message.textContent = "";
    //
    async function unFollowUser(strangerId) {
      try {
        //
        const response = await fetch(
          `${window.location.origin}/user/unfollow/${strangerId}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );
        //result of the fetch/await
        const result = await response.json();

        console.log(result, "result");

        if (result.message) {
          //
          message.textContent = result.message;
          //
          setTimeout(function () {
            //
            window.location.href = window.location.href;
          }, 1000);
        }
      } catch (err) {
        console.log(err);
      }
    }
    //
    async function followUser(strangerId) {
      try {
        const response = await fetch(
          `${window.location.origin}/user/follow/${strangerId}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );
        //result of the fetch/await
        const result = await response.json();
        //
        console.log(result, "result");
        //follow successful hole tokhon e reload

        //
        if (result.message) {
          //
          message.textContent = result.message;
          //
          setTimeout(function () {
            //
            window.location.href = window.location.href;
          }, 1000);
        }

        //
      } catch (err) {
        console.log(err);
      }
    }

    //Details button = get user detail from all user page
    async function getUser(strangerId) {
      try {
        //redirect
        window.location.href = `${window.location.origin}/user/getUser/${strangerId}`;
      } catch (err) {
        console.log(err);
      }
    }
  </script>

  <%- include('partials/footer') %>
</div>
