<%- include('partials/header') %>

<!--  -->
<h2>User You may know</h2>

<% if (allUsers.length>0) { %>
<!--  -->
<% for( let i = 0; i < allUsers.length; i++ ) { %>

<li id="<%= allUsers[i]._id %>">
  <!--  -->
  <% if (allUsers[i].photoPath) { %>
  <div>
    <img
      src="<%= allUsers[i].photoPath %>"
      alt="image"
      width="200"
      height="150"
      class="img-fluid"
    />
  </div>
  <% } %>
  <!--  -->
  <p><strong>userName: </strong> <%= allUsers[i].username %></p>
  <p><strong>followers: </strong> <%= allUsers[i].followers.length %></p>
  <p><strong>followings: </strong> <%= allUsers[i].followings.length %></p>
  <!--user details button -->
  <button class="btn btn-primary" onclick="getUser('<%= allUsers[i]._id %>')">
    Details
  </button>
  <!-- follow button -->
  <button
    class="btn btn-success"
    onclick="followUser('<%= allUsers[i]._id %>')"
  >
    Follow
  </button>
  <!--  -->
  <button
    class="btn btn-danger"
    onclick="unFollowUser('<%= allUsers[i]._id %>')"
  >
    unFollow
  </button>
</li>
<% } %>
<!--  -->
<% } else{%>
<p>No user found</p>
<%}%>

<script>
  //
  let message = document.getElementById("message");
  message.textContent = "";
  //
  async function unFollowUser(strangerId) {
    try {
      //
      const response = await fetch(
        `${window.location.origin}/user/unfollow/${strangerId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const result = await response.json();

      console.log(result, "result");

      if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 1000);
      }
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function followUser(strangerId) {
    try {
      const response = await fetch(
        `${window.location.origin}/user/follow/${strangerId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const result = await response.json();
      //
      console.log(result, "result");
      //follow successful hole tokhon e reload

      //
      if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 1000);
      }

      //
    } catch (err) {
      console.log(err);
    }
  }

  //Details button = get user detail from all user page
  async function getUser(strangerId) {
    try {
      //redirect
      window.location.href = `${window.location.origin}/user/getUser/${strangerId}`;
    } catch (err) {
      console.log(err);
    }
  }
</script>

<%- include('partials/footer') %>
