<%- include('partials/header') %>
<!--  -->

<h2>followers details</h2>

<div>
  <!--  -->
  <% if (followersList.length>0) { %> <% for( let i = 0; i <
  followersList.length; i++ ) { %>

  <!--  -->
  <li id="<%= followersList[i]._id %>">
    <!--  -->
    <% if (followersList[i].photoPath) { %>
    <div>
      <img
        src="<%= followersList[i].photoPath %>"
        alt="image"
        width="200"
        height="150"
      />
    </div>
    <!--  -->
    <% } %>
    <p><strong>userName: </strong> <%= followersList[i].username %></p>
    <p><strong>followers: </strong> <%= followersList[i].followers.length %></p>
    <p>
      <strong> followings: </strong> <%= followersList[i].followings.length %>
    </p>
    <button class="btn btn-primary" onclick="getUser()">Details</button>
  </li>
  <% } %> <% } else{%>
  <p>No followers found</p>
  <%}%>
</div>

<script>
  //
  //Details button = get user detail from all user page
  async function getUser() {
    try {
      //   const id = event.target.id;
      //   console.log(id);
      const buttonDetail = event.target;
      //to get the id of the <li>
      const buttonParent = buttonDetail.parentElement;
      //   console.log(buttonDetail);

      const id = buttonParent.id;

      //   console.log(id, "id");

      await fetch(`${window.location.origin}/user/getUser/${id}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      });

      //   console.log(`${window.location.origin}/user/getUser`);
      //
      window.location.href = `${window.location.origin}/user/getUser/${id}`;
    } catch (err) {
      console.log(err);
    }
  }
</script>

<%- include('partials/footer') %>
