<%- include('partials/header') %>

<h2>getUser</h2>

<div id="<%= user._id %>">
  <p>username:<%= user.username %></p>
  <p>followers:<%= user.followers.length %></p>
  <!--  -->
  <button onclick="followersDetails()">followers Details</button>
  <!--  -->
  <!--  -->
  <p>followings:<%= user.followings.length %></p>
  <!--  -->
  <button onclick="followingsDetails()">followings Details</button>
  <!--  -->
  <br /><br />
  <button onclick="followUser()">Follow</button>

  <button onclick="unFollowUser()">unFollow</button>

  <br /><br />

  <button onclick="userPostsButton()">userPosts</button>
</div>

<script>
  let message = document.getElementById("message");
  message.textContent = "";
  ////////////////
  //
  async function userPostsButton() {
    //
    try {
      const userPostsButton = event.target;
      const userPostsButtonParent = userPostsButton.parentElement;
      const userPostsButtonParentId = userPostsButtonParent.id;
      //
      // console.log(userPostsButtonParentId, "userPostsButtonParentId");

      //
      //redirect
      window.location.href = `${window.location.origin}/post/strangerOwnPost/${userPostsButtonParentId}`;
    } catch (err) {
      res.json(err);
    }
  }
  //
  async function followersDetails() {
    try {
      //
      const followersDetailButton = event.target;
      const followersDetailParent = followersDetailButton.parentElement;
      const followersDetailParentId = followersDetailParent.id;
      //
      // console.log(followersDetailParentId, "followersDetailParentId");
      //
      // const response = await fetch(
      //   `${window.location.origin}/user/followersList/${followersDetailParentId}`,
      //   {
      //     method: "GET",
      //     headers: {
      //       "Content-Type": "application/json",
      //     },
      //   }
      // );
      //
      // const result = await response.json();

      //redirect
      window.location.href = `${window.location.origin}/user/followersList/${followersDetailParentId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function followingsDetails() {
    //
    try {
      const followingsDetailsButton = event.target;
      const followingsDetailsButtonParent =
        followingsDetailsButton.parentElement;
      const followingsDetailsButtonParentId = followingsDetailsButtonParent.id;
      //
      // console.log(
      //   followingsDetailsButtonParentId,
      //   "followingsDetailsButtonParentId"
      // );
      //
      const response = await fetch(
        `${window.location.origin}/user/followingsList/${followingsDetailsButtonParentId}`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //
      // const result = await response.json();
      // console.log(result, "result");

      //redirect
      window.location.href = `${window.location.origin}/user/followingsList/${followingsDetailsButtonParentId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function unFollowUser() {
    try {
      const unFollowButton = event.target;
      const unFollowButtonParent = unFollowButton.parentElement;
      const unParentId = unFollowButtonParent.id;
      // console.log(unParentId, "unParentId");
      const response = await fetch(
        `${window.location.origin}/user/unfollow/${unParentId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const result = await response.json();

      console.log(result, "result");

      if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 1000);
      }
    } catch (err) {
      console.log(err);
    }
  }

  //
  async function followUser() {
    try {
      const followButton = event.target;
      const followButtonParent = followButton.parentElement;
      const parentId = followButtonParent.id;
      //
      const response = await fetch(
        `${window.location.origin}/user/follow/${parentId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const result = await response.json();
      //
      console.log(result, "result");
      //follow successful hole tokhon e reload

      //
      if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 1000);
      }

      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
