<%- include('partials/header') %>

<div class="row justify-content-center">
  <div class="col-lg-6 width:100%">
    <!-- heading -->
    <h2 class="text-center">Your created posts</h2>
    <!--  -->
    <% if ( myArray.length>0) { %>
    <!--  -->
    <% for( let index = 0; index < myArray.length; index++ ) { %>
    <!----------post  box starts-->
    <div class="bg-white shadow rounded mt-3 pb-3">
      <!--  post description-->
      <p class="px-3 pt-3"><%=myArray[index].description %></p>
      <!--  -->
      <li style="list-style-type: none" id="<%=myArray[index]._id %>">
        <% if (myArray[index].photoPath) { %>
        <div class="d-flex">
          <img
            src="<%= myArray[index].photoPath %>"
            alt="image"
            class="img-fluid"
          />
        </div>
        <% } %>
        <!--  -->
        <p>likes : <%=myArray[index].likes.length %></p>
        <!--  -->
        <!-- buttons section  -- these 3 buttons taking equal spaces of available space-->
        <div class="d-flex">
          <div class="flex-fill me-1">
            <button
              class="btn btn-secondary w-100"
              onclick="postLikedByButton('<%=myArray[index]._id%>')"
            >
              postLikedBy
            </button>
          </div>

          <!--  -->
          <div class="flex-fill me-1">
            <button
              class="btn btn-secondary w-100"
              onclick="updatePostButton('<%=myArray[index]._id%>')"
            >
              updatePost
            </button>
          </div>
          <!--  -->
          <div class="flex-fill me-1">
            <button
              class="btn btn-danger w-100"
              onclick="deletePost('<%=myArray[index]._id%>')"
            >
              DeletePost
            </button>
          </div>
        </div>
        <!-- button section ends here -->
      </li>
      <!----------post box ends-->
    </div>
    <% } %>
    <!--  -->
    <% } else{%>
    <p class="text-center">No post created by user</p>
    <%}%>

    <!--  -->
  </div>
</div>
<script>
  async function updatePostButton(post_id) {
    window.location.href = `${window.location.origin}/post/update/${post_id}`;
  }
  //
  async function postLikedByButton(postId) {
    //
    try {
      //

      //redirect
      window.location.href = `${window.location.origin}/post/postLiked/${postId}`;
      //
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deletePost(postId) {
    //
    try {
      const responseDelete = await fetch(
        `${window.location.origin}/post/delete/${postId}`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //
      const deleteResult = await responseDelete.json();

      console.log(deleteResult, "deleteResult");

      if (deleteResult.message == "post delete success") {
        setTimeout(function () {
          //redirect
          window.location.href = `${window.location.origin}/post/ownposts`;
        }, 1000);
      }

      // window.location.href = `${window.location.origin}/post/ownposts`;
    } catch (err) {
      console.log(err);
    }
  }
</script>

<%- include('partials/footer') %>
