<%- include('partials/header') %>

<h2>User Details</h2>

<div id="<%= user._id %>">
  <% if (user.photoPath) { %>
  <div>
    <img
      src="<%= user.photoPath %>"
      alt="image"
      width="200"
      height="150"
      class="img-fluid"
    />
  </div>
  <% } %>

  <p><strong>username: </strong><%= user.username %></p>

  <p><strong>followers: </strong> <%= user.followers.length %></p>
  <!--  -->
  <button class="btn btn-primary" onclick="followersDetails()">
    followers Details
  </button>
  <!--  -->

  <p><strong>followings: </strong><%= user.followings.length %></p>
  <!--  -->
  <button class="btn btn-primary" onclick="followingsDetails()">
    followings Details
  </button>
  <!--  -->
  <br /><br />
  <!-- delete user -->
  <button class="btn btn-danger" onclick="deleteUser()">
    deleteYourProfile
  </button>
</div>
<br /><br /><br /><br />
<div>
  <h3>Update Password</h3>

  <!-- <h4>Message:Fill existing username or password to update</h4> -->
  <br />
  <form action="#">
    <!--  -->
    <p>message : You have to login again - as you submit update button</p>
    <!-- password -->
    <label for="updatePassword">updatePassword</label>
    <input type="password" id="updatePassword" class="form-control" required />
  </form>
  <!-- form Button -->
  <button
    class="btn btn-primary"
    id="updatePasswordButton"
    onclick="onUpdatePasswordButton()"
  >
    updatePassword
  </button>
</div>

<script>
  //
  let message = document.getElementById("message");
  message.textContent = "";
  //

  async function followersDetails() {
    try {
      //
      const followersDetailButton = event.target;
      const followersDetailParent = followersDetailButton.parentElement;
      const followersDetailParentId = followersDetailParent.id;
      //

      //redirect
      window.location.href = `${window.location.origin}/user/followersList/${followersDetailParentId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function followingsDetails() {
    //
    try {
      const followingsDetailsButton = event.target;
      const followingsDetailsButtonParent =
        followingsDetailsButton.parentElement;
      const followingsDetailsButtonParentId = followingsDetailsButtonParent.id;
      //

      //redirect
      window.location.href = `${window.location.origin}/user/followingsList/${followingsDetailsButtonParentId}`;
    } catch (err) {
      console.log(err);
    }
  }

  //
  async function onUpdatePasswordButton() {
    try {
      const password = document.getElementById("updatePassword").value;

      const data = { password: password };
      // console.log(data, "data");
      //
      const response = await fetch(
        `${window.location.origin}/user/updatePassword`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
          //
        }
      );
      //
      const result = await response.json();

      console.log(result);
      //
      if (result.message == "password updated") {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          window.location.href = `${window.location.origin}/user/login`;
        }, 1000);
      }
      //
      else if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deleteUser() {
    try {
      const deleteButton = event.target;
      const parentDeleteButton = deleteButton.parentElement;
      const delParentId = parentDeleteButton.id;
      // console.log(delParentId, "delParentId");
      const responseDelete = await fetch(
        `${window.location.origin}/user/authDelete`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const delResult = await responseDelete.json();
      console.log(delResult, "delResult");
      //checking if success
      if (delResult.message == "delete successful") {
        //
        //
        message.textContent = delResult.message;
        //this redirects--to login- page
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/login`;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>

<!--  -->
<%- include('partials/footer') %>
