<%- include('partials/header') %>

<h2>User Details</h2>

<div id="<%= user._id %>">
  <p>username:<%= user.username %></p>
  <p>admin:<%= user.isAdmin %></p>
  <p>followers:<%= user.followers %></p>
  <p>followings:<%= user.followings %></p>
  <!-- delete user -->
  <button onclick="deleteUser()">deleteUser</button>
</div>
<br /><br /><br /><br />
<div>
  <h3>Update form</h3>

  <!-- <h4>Message:Fill existing username or password to update</h4> -->
  <br />
  <form action="#">
    <!--  -->
    <label for="updateUsername">updateUsername</label>
    <input type="text" id="updateUsername" required />
    <!-- password -->
    <label for="updatePassword">updatePassword</label>
    <input type="password" id="updatePassword" required />
  </form>
  <!-- form Button -->
  <button id="updateButton" onclick="onUpdateButton()">updateButton</button>
</div>

<script>
  async function onUpdateButton() {
    try {
      const username = document.getElementById("updateUsername").value;
      const password = document.getElementById("updatePassword").value;

      const data = { username: username, password: password };
      // console.log(data, "data");
      //
      const response = await fetch("http://localhost:3003/user/update", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        //
      });
      //
      const result = await response.json();

      if (result.message == "success") {
        //redirect to login page
        window.location.href = `${window.location.origin}/user/login`;
      }

      // update successful hote-- trying to delete token and login again
      console.log(result);
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deleteUser() {
    try {
      const deleteButton = event.target;
      const parentDeleteButton = deleteButton.parentElement;
      const delParentId = parentDeleteButton.id;
      // console.log(delParentId, "delParentId");
      const responseDelete = await fetch(
        `http://localhost:3003/user/authDelete`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const delResult = await responseDelete.json();
      //checking if success
      if (delResult.message == "delete successful") {
        console.log(delResult);
        //this redirects--to login- page
        window.location.href = `${window.location.origin}/user/login`;
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>
