<%- include('partials/header') %>

<!--  -->
<!-- ei div er id chilo -->
<div class="row justify-content-center">
  <div class="col-lg-4 width:100%">
    <div class="bg-white shadow rounded mt-3 pb-3">
      <h2 class="text-center">Personal Details</h2>
      <!--  -->
      <!--  -->
      <div>
        <% if (user.photoPath) { %>
        <div class="d-flex">
          <img src="<%= user.photoPath %>" alt="image" class="img-fluid" />
        </div>
        <% } %>
        <!-- infos starts -->
        <div class="d-flex">
          <div class="flex-fill">
            <span class="m-2 fw-bold" style="font-size: 25px"
              ><%= user.username %></span
            >
          </div>
          <div class="flex-fill">
            <p class="pt-2">
              <strong>followers:</strong> <%= user.followers.length %>
            </p>
          </div>
          <div class="flex-fill">
            <p class="pt-2">
              <strong>followings:</strong> <%= user.followings.length %>
            </p>
          </div>
        </div>
        <!-- infos ends -->

        <!-- button starts--------------------- -->

        <!-- button line 1 -->
        <div class="d-flex">
          <!-- followers details button -->
          <div class="flex-fill me-1">
            <button
              class="btn btn-secondary w-100"
              onclick="followersDetails('<%= user._id %>')"
            >
              Followers Details
            </button>
          </div>
          <!--  -->

          <!--  -->
          <div class="flex-fill me-1">
            <button
              class="btn btn-secondary w-100"
              onclick="followingsDetails('<%= user._id %>')"
            >
              Followings Details
            </button>
          </div>
        </div>
        <!-- button line 2 -->
        <div class="d-flex mt-3">
          <div class="flex-fill me-1">
            <button
              class="btn btn-secondary w-100"
              onclick="updateYourProfileImage()"
            >
              Update profile pic
            </button>
          </div>
          <!--  -->
          <div class="flex-fill me-1">
            <button class="btn btn-secondary w-100" onclick="seeAllYourPosts()">
              See all Your Posts
            </button>
          </div>
        </div>
        <!--  -->
        <!-- button line 3 -->
        <!-- delete user -->
        <div class="d-flex mt-3">
          <div class="flex-fill me-1">
            <button class="btn btn-danger w-100" onclick="deleteUser()">
              Delete Your Profile
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- try  -->
    <div>
      <h3 class="text-center mt-3">Update Password</h3>
      <!-- <h4>Message:Fill existing username or password to update</h4> -->
      <br />
      <!-- from starts -->
      <div class="bg-white shadow rounded p-3 input-group-lg">
        <form action="#">
          <!--  -->

          <!-- password -->
          <label for="updatePassword">Updated Password</label>
          <input
            type="password"
            id="updatePassword"
            class="form-control"
            required
          />
          <p>message : You have to login again - as you submit update button</p>
        </form>
      </div>
      <!-- form ends -->

      <!-- form Button -->
      <button
        class="btn btn-secondary w-100"
        id="updatePasswordButton"
        onclick="onUpdatePasswordButton()"
      >
        Update Password
      </button>
    </div>
  </div>
</div>

<script>
  //
  let message = document.getElementById("message");
  message.textContent = "";
  //

  //
  async function seeAllYourPosts() {
    try {
      //redirect
      window.location.href = `${window.location.origin}/post/ownposts`;
    } catch (err) {
      console.log(err);
    }
  }

  //
  async function updateYourProfileImage() {
    try {
      //redirect
      window.location.href = `${window.location.origin}/user/updateProfileImage`;
    } catch (err) {
      console.log(err);
    }
  }
  //

  async function followersDetails(userId) {
    try {
      //

      //redirect
      window.location.href = `${window.location.origin}/user/followersList/${userId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function followingsDetails(userId) {
    //
    try {
      //redirect
      window.location.href = `${window.location.origin}/user/followingsList/${userId}`;
    } catch (err) {
      console.log(err);
    }
  }

  //
  async function onUpdatePasswordButton() {
    try {
      const password = document.getElementById("updatePassword").value;

      const data = { password: password };
      // console.log(data, "data");
      //
      const response = await fetch(
        `${window.location.origin}/user/updatePassword`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
          //
        }
      );
      //
      const result = await response.json();

      console.log(result);
      //
      if (result.message == "password updated") {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          window.location.href = `${window.location.origin}/user/login`;
        }, 1000);
      }
      //
      else if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deleteUser() {
    try {
      const responseDelete = await fetch(
        `${window.location.origin}/user/authDelete`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const delResult = await responseDelete.json();
      console.log(delResult, "delResult");
      //checking if success
      if (delResult.message == "delete successful") {
        //
        //
        message.textContent = delResult.message;
        //this redirects--to login- page
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/login`;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>

<!--  -->
<%- include('partials/footer') %>
