<%- include('partials/header') %>

<h2>User Details</h2>

<div id="<%= user._id %>">
  <p>username:<%= user.username %></p>

  <p>followers:<%= user.followers %></p>
  <p>followings:<%= user.followings %></p>
  <!-- delete user -->
  <button onclick="deleteUser()">deleteUser</button>
</div>
<br /><br /><br /><br />
<div>
  <h3>Update Password</h3>

  <!-- <h4>Message:Fill existing username or password to update</h4> -->
  <br />
  <form action="#">
    <!--  -->
    <p>message : You have to login again - as you submit update button</p>
    <!-- password -->
    <label for="updatePassword">updatePassword</label>
    <input type="password" id="updatePassword" required />
  </form>
  <!-- form Button -->
  <button id="updatePasswordButton" onclick="onUpdatePasswordButton()">
    updatePassword
  </button>
</div>

<script>
  //
  let message = document.getElementById("message");
  message.textContent = "";
  //
  async function onUpdatePasswordButton() {
    try {
      const password = document.getElementById("updatePassword").value;

      const data = { password: password };
      // console.log(data, "data");
      //
      const response = await fetch(
        `${window.location.origin}/user/updatePassword`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
          //
        }
      );
      //
      const result = await response.json();

      console.log(result);
      //
      if (result.message == "password updated") {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          window.location.href = `${window.location.origin}/user/login`;
        }, 1000);
      }
      //
      else if (result.message) {
        //
        message.textContent = result.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function deleteUser() {
    try {
      const deleteButton = event.target;
      const parentDeleteButton = deleteButton.parentElement;
      const delParentId = parentDeleteButton.id;
      // console.log(delParentId, "delParentId");
      const responseDelete = await fetch(
        `${window.location.origin}/user/authDelete`,
        {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //result of the fetch/await
      const delResult = await responseDelete.json();
      console.log(delResult, "delResult");
      //checking if success
      if (delResult.message == "delete successful") {
        //
        //
        message.textContent = delResult.message;
        //this redirects--to login- page
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/login`;
        }, 2000);
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>
