<%- include('partials/header') %>

<h2>User Details</h2>

<div>
  <p>username:<%= user.username %></p>
  <p>admin:<%= user.isAdmin %></p>
  <p>followers:<%= user.followers %></p>
  <p>followings:<%= user.followings %></p>
</div>
