<%- include('partials/header') %>

<div class="row justify-content-center">
  <div class="col-lg-6 width:100%">
    <h2 class="text-center"><%= postedBy %>'s all posts</h2>
    <!--  -->
    <% if (userPosts.length>0) { %>
    <!--  -->
    <% for( let i = 0; i < userPosts.length; i++ ) { %>
    <!----------post  box starts-->
    <div class="bg-white shadow rounded mt-3 pb-3">
      <li style="list-style-type: none">
        <!--  -->
        <p class="px-3 pt-3"><%= userPosts[i].description %></p>
        <!--  -->
        <% if (userPosts[i].photoPath) { %>
          <div class="d-flex">
          <img
            src="<%= userPosts[i].photoPath %>"
            alt="image"
            class="img-fluid"
          />
        </div>
        <% } %>

        <!--  text details starts -->
        <p>likes:<%= userPosts[i].likes.length %></p>
        <!--  text details ends -->

        <!--  button starts -->
        <div class="d-flex">

          <!-- likePost button -->
          <div class="flex-fill me-1">
            <button class="btn btn-success w-100" onclick="likePostButton('<%= userPosts[i]._id %>')">
              likePost
            </button>
          </div>
         
        
          <!-- postLikedBy button -->
          <div class="flex-fill me-1">
            <button class="btn btn-secondary w-100" onclick="postLikedByButton('<%= userPosts[i]._id %>')">
              Liked by
            </button>
          </div>
         <!-- postedByDetails button -->
         <div class="flex-fill me-1">
          <button class="btn btn-secondary w-100" onclick="postedByInfo()">
            Posted by details
          </button>
        </div>
          
        </div>
        <!--  button ends -->
      </li>
    </div>
      <% } %> <% } else{%>
      <p class="text-center">No post created by this User</p>
      <% } %>
    </div>
  </div>
  <script>
    //
    let message = document.getElementById("message");
    message.textContent = "";
    //
    async function likePostButton(userId) {
      //
      try {
        //
        const response = await fetch(
          `${window.location.origin}/post/like/${userId}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );
        //

        //
        const likeResult = await response.json();
        //
        console.log(likeResult, "likeResult");
        if (likeResult.message == "un-liked" || likeResult.message == "Liked") {
          //
          message.textContent = likeResult.message;
          //
          setTimeout(function () {
            //de
            window.location.href = window.location.href;
          }, 1000);
        }
      } catch (err) {
        console.log(err);
      }
    }
    //
    async function postLikedByButton(userId) {
      //
      try {
        //

        //redirect
        window.location.href = `${window.location.origin}/post/postLiked/${userId}`;
        //
      } catch (err) {
        console.log(err);
      }
    }
    //
    async function postedByInfo() {
      try {
        //   console.log(window.location.href.split("/")[5], "window.location.href");

        const creatorIdFromUrl = window.location.href.split("/")[5];

        //
        //   //redirecting
        window.location.href = `${window.location.origin}/user/getUser/${creatorIdFromUrl}`;
      } catch (err) {
        console.log(err);
      }
    }
  </script>

  <%- include('partials/footer') %>
</div>