<%- include('partials/header') %>
<!--  -->

<!--  -->
<div class="row justify-content-center">
  <!--  -->
  <!-- loggid in user's section -->
  <div class="col-lg-6 width:100%">
    <div class="bg-white shadow rounded mt-3 pb-3">
      <!--  -->
      <div id="<%= userProfile._id %>" style="white-space: nowrap">
        <% if (userProfile.photoPath) { %>
        <span>
          <img
            src="<%= userProfile.photoPath %>"
            alt="image"
            class="rounded-circle me-2"
            style="width: 70; height: 80px; object-fit: cover"
          />
        </span>
        <% } %>
        <!-- username -->
        <span class="m-2 fw-bold" style="font-size: 25px">
          <%= userProfile.username %>'s timeline
        </span>
        <!--  -->
        <!-- followers and followings -->
        <div class="m-2 fw-bold" style="white-space: nowrap">
          <span>followers : <%= userProfile.followers.length %></span>
          <span class="m-3"
            >followings : <%= userProfile.followings.length%></span
          >
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!--  -->

  <div>
    <h4 class="text-center mt-3">Timeline posts</h4>
    <!--  -->
    <%if(postsNotByYou.length>0){%> <% for( let index = 0; index <
    postsNotByYou.length; index++ ) { %>

    <!-- ---------------------------- -->
    <!--  -->
    <div class="row justify-content-center">
      <div class="col-lg-6 width:100%">
        <div class="bg-white shadow rounded mt-3 pb-3">
          <!-- li here-->
          <li style="list-style-type: none" id="<%=postsNotByYou[index]._id %>">
            <!--  -->

            <!-- jar profile tar image  -->
            <div
              class="d-flex py-3 px-3 shadow-sm"
              style="background-color: #f5f5f5"
            >
              <!-- image-->
              <% if (postsNotByYou[index].userId.photoPath) { %>
              <img
                src="<%= postsNotByYou[index].userId.photoPath %>"
                alt="image"
                class="rounded-circle me-2"
                style="width: 60; height: 70px; object-fit: cover"
              />
              <% } %>
              <!-- username-->
              <p class="m-2 fw-bold" style="font-size: 25px">
                <%= postsNotByYou[index].userId.username %>
              </p>
            </div>
            <!-- post descripton-->
            <p class="mt-2 px-2"><%=postsNotByYou[index].description %></p>

            <% if (postsNotByYou[index].photoPath) { %>

            <!-- post's image -->
            <div class="d-flex">
              <img
                src="<%= postsNotByYou[index].photoPath %>"
                alt="image"
                class="img-fluid"
              />
            </div>
            <% } %>

            <!--  -->

            <p>likes : <%=postsNotByYou[index].likes.length %></p>

            <!-- buttons section  -- these 3 buttons taking equal spaces of available space-->
            <div class="d-flex">
              <div class="flex-fill me-1">
                <button
                  class="btn btn-success w-100"
                  onclick="likePostButton('<%=postsNotByYou[index]._id %>')"
                >
                  Like Post
                </button>
              </div>

              <div class="flex-fill me-1">
                <button
                  class="btn btn-secondary w-100"
                  onclick="postLikedByButton('<%=postsNotByYou[index]._id %>')"
                >
                  Liked by
                </button>
              </div>

              <div class="flex-fill">
                <button
                  class="btn btn-secondary w-100"
                  onclick="postedByInfo('<%= postsNotByYou[index].userId._id %>')"
                >
                  Posted by
                </button>
              </div>
            </div>
            <!--  -->
          </li>
          <!--  -->
        </div>
      </div>
    </div>

    <!--  -->

    <% } %> <%}else{%>
    <p>no post by others</p>
    <%}%>
  </div>
  <!--  -->
  <script>
    let message = document.getElementById("message");
    message.textContent = "";
    //
    async function postLikedByButton(post_id) {
      //
      try {
        window.location.href = `${window.location.origin}/post/postLiked/${post_id}`;
        //
      } catch (err) {
        console.log(err);
      }
    }

    //
    async function postedByInfo(post_user_id) {
      try {
        //redirecting
        window.location.href = `${window.location.origin}/user/getUser/${post_user_id}`;
        // const result = await response.json();
      } catch (err) {
        console.log(err);
      }
    }
    //

    //
    async function likePostButton(postId) {
      //
      try {
        //

        //
        const response = await fetch(
          `${window.location.origin}/post/like/${postId}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );

        const likeResult = await response.json();

        console.log(likeResult, "likeResult");
        if (likeResult.message == "un-liked" || likeResult.message == "Liked") {
          //
          message.textContent = likeResult.message;
          //
          setTimeout(function () {
            //de
            window.location.href = `${window.location.origin}/post/timeline/all`;
          }, 1000);
        }
      } catch (err) {
        console.log(err);
      }
    }
  </script>
  <%- include('partials/footer') %>
</div>
