<%- include('partials/header') %>
<!--  -->
<h2>Timeline</h2>
<!--  -->
<div>
  <h4>User info</h4>
  <p>username:<%= userProfile.username %></p>
  <p>followers:<%= userProfile.followers.length %></p>
  <p>followings:<%= userProfile.followings.length%></p>
</div>
<div>
  <h4>Users's own posts</h4>
  <% if (userPosts.length>0) { %> <% for( let index = 0; index <
  userPosts.length; index++ ) { %>
  <!--  -->

  <li id="<%=userPosts[index]._id %>">
    <p>description : <%=userPosts[index].description %></p>
    <!-- likes array er length pathalam -->
    <p>likes : <%=userPosts[index].likes.length %></p>
  </li>
  <% } %> <% } else{%>
  <p>No post of user's own</p>
  <% } %>
</div>
<!--  -->
<hr />
<div>
  <h4>other's posts</h4>
  <!--  -->
  <%if(postsNotByYou.length>0){%> <% for( let index = 0; index <
  postsNotByYou.length; index++ ) { %>

  <li id="<%=postsNotByYou[index]._id %>">
    <p>description : <%=postsNotByYou[index].description %></p>
    <!--  -->
    <p>postedBy:<%=postsNotByYou[index].userId.username %></p>
    <!--  -->
    <div id="<%= postsNotByYou[index].userId._id %>">
      <button onclick="postedByInfo()">postedByDetails</button>
    </div>
    <!--  -->
    <p>likes : <%=postsNotByYou[index].likes.length %></p>
    <button onclick="likePostButton()">likePost</button>
  </li>

  <% } %> <%}else{%>
  <p>no post by others</p>
  <%}%>
</div>
<!--  -->
<script>
  let message = document.getElementById("message");
  message.textContent = "";
  //
  async function postedByInfo() {
    try {
      const buttonPostedBy = event.target;
      const buttonPostedByParent = buttonPostedBy.parentElement;
      const buttonPostedByParentId = buttonPostedByParent.id;
      // console.log(buttonPostedByParentId, "buttonPostedByParentId");
      const response = await fetch(
        `${window.location.origin}/user/getUser/${buttonPostedByParentId}`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //
      //
      // const result = await response.json();

      //redirecting
      window.location.href = `${window.location.origin}/user/getUser/${buttonPostedByParentId}`;
      // const result = await response.json();
    } catch (err) {
      console.log(err);
    }
  }
  //

  //
  async function likePostButton() {
    //
    try {
      //
      const buttonLikePost = event.target;
      const buttonLikePostParent = buttonLikePost.parentElement;
      const buttonParentId = buttonLikePostParent.id;

      // console.log(buttonParentId, "buttonParentId");
      //
      const response = await fetch(
        `${window.location.origin}/post/like/${buttonParentId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );
      //

      //
      const likeResult = await response.json();
      //
      console.log(likeResult, "likeResult");
      if (likeResult.message == "un-liked" || likeResult.message == "Liked") {
        //
        message.textContent = likeResult.message;
        //
        setTimeout(function () {
          //de
          window.location.href = `${window.location.origin}/post/timeline/all`;
        }, 1000);
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>
