<%- include('partials/header') %>
<!--  -->
<h2>Timeline</h2>
<!--  -->
<div>
  <h4>User info</h4>
  <!--  -->
  <div id="<%= userProfile._id %>">
    <% if (userProfile.photoPath) { %>
    <div>
      <img
        src="<%= userProfile.photoPath %>"
        alt="image"
        width="400"
        height="400"
      />
    </div>
    <% } %>
    <!--  -->
    <p>username:<%= userProfile.username %></p>
    <p>followers:<%= userProfile.followers.length %></p>
    <p>followings:<%= userProfile.followings.length%></p>
  </div>
  <!--  -->
  <hr />
  <div>
    <h4>other's posts</h4>
    <!--  -->
    <%if(postsNotByYou.length>0){%> <% for( let index = 0; index <
    postsNotByYou.length; index++ ) { %>

    <!-- ---------------------------- -->
    <!--  -->
    <div class="row justify-content-center">
      <div class="col-lg-6 width:100%">
        <div class="bg-white shadow rounded mt-3 pb-3">
          <!-- li here-->
          <li style="list-style-type: none" id="<%=postsNotByYou[index]._id %>">
            <!--  -->
            <% if (postsNotByYou[index].photoPath) { %>

            <!-- jar profile tar image  -->
            <div class="d-flex py-3 px-3">
              <!-- image-->
              <img
                src="<%= postsNotByYou[index].userId.photoPath %>"
                alt="image"
                class="rounded-circle me-2"
                style="width: 30; height: 38px; object-fit: cover"
              />
              <!-- username-->
              <p class="m-0 fw-bold">
                <%= postsNotByYou[index].userId.username %>
              </p>
            </div>
            <!-- post descripton-->
            <p class="mt-2 px-2"><%=postsNotByYou[index].description %></p>

            <!-- post's image -->
            <div class="d-flex">
              <img
                src="<%= postsNotByYou[index].photoPath %>"
                alt="image"
                class="img-fluid"
              />
            </div>
            <% } %>

            <!--  -->

            <p>likes : <%=postsNotByYou[index].likes.length %></p>

            <!-- buttons section -->
            <button class="btn btn-success" onclick="likePostButton()">
              Like Post
            </button>
            <!-- div er jagay span use korlam jate line change naa hoi -->
            <span>
              <button
                class="btn btn-primary"
                onclick="postLikedByButton('<%=postsNotByYou[index]._id %>')"
              >
                Liked by
              </button>
            </span>
            <!-- div er jagay span use korlam jate line change naa hoi -->
            <span>
              <button
                class="btn btn-primary"
                onclick="postedByInfo('<%= postsNotByYou[index].userId._id %>')"
              >
                Posted by
              </button>
            </span>
          </li>
          <!--  -->
        </div>
      </div>
    </div>

    <!--  -->

    <% } %> <%}else{%>
    <p>no post by others</p>
    <%}%>
  </div>
  <!--  -->
  <script>
    let message = document.getElementById("message");
    message.textContent = "";
    //
    async function postLikedByButton(post_id) {
      //
      try {
        window.location.href = `${window.location.origin}/post/postLiked/${post_id}`;
        //
      } catch (err) {
        console.log(err);
      }
    }

    //
    async function postedByInfo(post_user_id) {
      try {
        //redirecting
        window.location.href = `${window.location.origin}/user/getUser/${post_user_id}`;
        // const result = await response.json();
      } catch (err) {
        console.log(err);
      }
    }
    //

    //
    async function likePostButton() {
      //
      try {
        //
        const buttonLikePost = event.target;
        const buttonLikePostParent = buttonLikePost.parentElement;
        const buttonParentId = buttonLikePostParent.id;

        // console.log(buttonParentId, "buttonParentId");
        //
        const response = await fetch(
          `${window.location.origin}/post/like/${buttonParentId}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );
        //

        //
        const likeResult = await response.json();
        //
        console.log(likeResult, "likeResult");
        if (likeResult.message == "un-liked" || likeResult.message == "Liked") {
          //
          message.textContent = likeResult.message;
          //
          setTimeout(function () {
            //de
            window.location.href = `${window.location.origin}/post/timeline/all`;
          }, 1000);
        }
      } catch (err) {
        console.log(err);
      }
    }
  </script>
  <%- include('partials/footer') %>
</div>
